@import url("https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css") (prefers-color-scheme: light);

@import url("https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css") (prefers-color-scheme: dark);

@media (prefers-color-scheme: light) {
  :root{
    --background: rgba(240, 240, 240, 0.75);
    --text: rgba(23, 23, 23, 0.75);
    --active: rgba(200, 200, 200, 0.75);
  }
}
@media (prefers-color-scheme: dark) {
  :root{
    --background: rgba(23, 23, 23, 0.75);
    --text: rgba(240, 240, 240, 0.75);
    --active: rgba(46, 46, 46, 0.75);
  }
}

/* TODO: beautify page, add icons and background */
html, body{
  width: 100%;
  height: 100%;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

table{
  margin: 10% auto;
  width: 100%; 
  background-color: var(--background);
  border-radius: 3vh;
}

#time{
  font-size: 6vw;
  margin: 5% 5vw 5% 1vw;
}

#info{
  height: 8vw;
  max-width: 50vw;
  float: right;
  
  background-color: var(--background);
  border-radius: 2vh;
  padding: 1vw;

  text-align: center;
  overflow: auto;
  overflow-y: hidden;

  color: var(--text);
}

#weather{
  width: 8vw;
  height: 8vw;
}
#weatherText{
  z-index: 3;
  margin: 0;

  position: absolute;
  transform: translate(5%, 10%);
}

#autocomplete{
  position: relative;
  display: inline-block;
  /* https://www.w3schools.com/howto/howto_js_autocomplete.asp */
  color: var(--text);
}

input {
  border: 1px solid transparent;
  background-color: var(--background);
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: var(--background);
  width: 100%;
}
button[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--background);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: var(--active);
}

